[MESSAGES CONTROL]
disable=
    C0103,  # Variable name doesn't conform to snake_case naming style
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    E0611,  # No name '...' in module '...'

[MASTER]
ignore=migrations, pydantic
ignore-patterns=migrations/.*\.py