@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap");

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  margin: 0;

  background-size: cover;
}

a {
  color: #f27573;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.overview * {
  box-sizing: border-box;
}

.overview .react-flow__controls button {
  box-sizing: content-box;
}

.overview .react-flow__node {
  font-size: 12px;
}

.edgebutton {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}
